$white: #ffffff;
$black: #000000;
$pr-color: #2b3942;
$sec-color: #47545c;
$c1: #e9a447;
$c2: #606b70;

.my-0-b {
  margin-top: 0;
  margin-bottom: 0;
}

.weather-app-b {
  max-width: 620px;
  margin: 50px auto 0;
  color: $c2;

  @media(min-width: 768px) {
    margin-top: 120px;
  }

  &__city {
    color: $black;
    text-align: center;

    @media(min-width: 768px) {
      text-align: left;
    }
  }
}

.weather-app-boxes-container-b {
  display: grid;
  justify-content: center;

  @media(min-width: 768px) {
    grid-template-columns: 300px 300px;
    grid-gap: 20px;
    justify-content: start;
  }
}

.weather-app-box-b {
  padding: 25px;
  border-radius: 30px;
  max-width: 300px;
  background-color: $pr-color;

  &__date {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__today-title {
    margin: 0;
    line-height: 0;
    color: $white;
  }

  &__temp {
    color: $c1;
  }

  &__condition {
    display: flex;
    align-items: center;
  }

  &__chances {
    margin-top: 27px;
    padding: 15px;
    display: grid;
    grid-gap: 5px;
    background-color: $sec-color;
    border-radius: 30px;
    color: $white;
  }

  &--tommorow {
    margin-top: 20px;

    @media(min-width: 768px) {
      margin-top: 0;
    }
  }
}